@using MongoDB.Bson
@model MongoDBWebAPI.Models.User

@{
    Layout = "~/Views/Shared/_Login.cshtml";
}

<form method="post">
    <a class="form-logo" href="/">DOCS</a>
        <h2 class="text-center">Sign in</h2>
        <div class="form-group">
            <input type="text" class="form-control" asp-for="UserName" placeholder="Username" required="required"/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" asp-for="Password" placeholder="Password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary login-btn btn-block">Sign in</button>
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
            <a href="/forgot-password" class="pull-right">Forgot Password?</a>
        </div>
        <div class="or-seperator"><i>or</i></div>
        <p class="text-center">Login with your social media account</p>
        <a asp-area="" asp-controller="Account" asp-action="google-login" class="btn btn-primary"><i class="fa fa-facebook"></i>&nbsp; Facebook</a>
        <a asp-area="" asp-controller="Account" asp-action="facebook-login" class="btn btn-info"><i class="fa fa-twitter"></i>&nbsp; Twitter</a>
        <a asp-area="" asp-controller="Account" asp-action="twitter-login" class="btn btn-danger"><i class="fa fa-google"></i>&nbsp; Google</a>
    </div>
</form>
