@{ ViewData["Title"] = "Home Page"; }

<div class="nav-displacer"></div>
<nav class="navbar">
    <div class="nav_section">
        <a class="logo" href="/">
            DOCS
        </a>
    </div>
    <div class="nav_section">
        <a class="nav-login-btn user-btn" asp-controller="Users" asp-action="Login">
            Login
        </a>
        <div class="seperator">|</div>
        <a class="nav-login-btn user-btn" asp-controller="Users" asp-action="Index">
            Sign up
        </a>
    </div>
</nav>